*{
margin:0;
padding:0;
font-family:Cursive;

}
header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);

height: 100vh;
background-position: center;
background-size: cover;
}
ul{
list-style-type:none;
float: right;
margin-top: 25px;
}
ul li{  display: inline-block;
margin: 5px;
     
    }
ul li a{
text-decoration:none ;
color: aliceblue;
padding: 5px 25px;
border: 1px solid white;
transition: 1s ease;

}
ul  li a:hover{ background-color: white;
               color:black;
}
.logo img{float: left;
          width:100px;
           height:auto ;  
           margin-left: 0px;  
}
.main{  max-width: 1200px;
        margin:auto;}
.title{  
position: absolute;
top:50%;
left:50%;


 }
.title h1{ 
color:white;
font: size 70px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.button{
position: absolute;
top:60%;
left:50%;

}
.btn{text-decoration:none ;
color: aliceblue;
padding: 5px 25px;
border: 1px solid white;
transition: 1s ease
}
.btn:hover{   background-color: white;
               color:black;
}